<header class="header">
  <div class="container-fluid">
      <div class="row">
          <div class="col-sm-2">
              <a href="/zh/" class="logo"></a>
              <span>Baetyl</span>
          </div>
          <!-- <div class="pull-right">
              <i class="menu-icon pull-right"></i>
              <form id="searchForm" class="search-form form-inline pull-right " action="/zh/">
                  <div class="form-group">
                      <label class="sr-only" for="search">
                          搜索
                      </label>
                      <input type="search" class="form-control" name="search" id="search" size="30" value="" placeholder="搜索">
                      <i class="search-icon"></i>
                  </div>
              </form>
          </div> -->
          <div class="locale pull-right">
              <ul>
                  <li class="locale-btn">
                      <a style="color: #3692ff">English</a>
                  </li>
              </ul>
          </div>
          <div class="nav pull-right">
              <ul>
                  <li class="">
                      <a href="/zh/docs/overview/What-is-Baetyl">{% translate docs layout %}</a>
                  </li>
                  {% if page.lang != "en" %}
                  <li class="">
                      <a href="https://cloud.baidu.com/forum/topic/list?boardId=109" target="_blank">社区</a>
                  </li>
                  {% endif %}
                  <li class="">
                      <a href="/zh/about/Join-the-community">{% translate about layout %}</a>
                  </li>
                  <li>
                      <a href="https://github.com/baetyl/baetyl" target="_blank">Github</a>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</header>

