/**
 * @file src/themes/default/public/styles/page.css 文档页样式
 * @author chenqiang(chenqiang03@baidu.com)
 */

.page-wrapper {
    padding: 0 15px;
    background: #fff;
}

.page-doc .content {
    padding: 20px 25px;
    margin-bottom: 60px;
}

.menu-wrapper {
    margin: 0 -15px 0 0;
    /* min-height: 200px; */
    position: absolute;
    left: 0;
    top: 20px;
    width: 100%;
    z-index: 3;
    overflow-y: auto;
}

.menu-wrapper.fixed {
    position: fixed;
}

.menu {
    padding: 0;
    list-style: none;
    background: #fff;
}

.menu .category {
    height: auto;
    margin-bottom: 4px;
}

.menu .category:last-child {
    margin-bottom: 0;
}

.menu .category .category-title {
    height: 40px;
    line-height: 40px;
    margin: 0;
    padding: 0 20px;
    font-size: 16px;
    color: #333;
    font-weight: 400;
    background: #f6f7f8;
    position: relative;
    -webkit-transition: background-color .3s;
       -moz-transition: background-color .3s;
         -o-transition: background-color .3s;
            transition: background-color .3s;
}

.menu .category .category-title:hover {
    background-color: #fafafa;
}

.menu .category .category-title:after {
    content: "";
    cursor: pointer;
    display: block;
    width: 10px;
    height: 6px;
    position: absolute;
    background: url(../images/arrow-down-sm.png) 0 0 no-repeat;
    background-size: 100% 100%;
    top: 18px;
    right: 20px;
    -webkit-transition: transform .3s;
       -moz-transition: transform .3s;
         -o-transition: transform .3s;
            transition: transform .3s;
}

.menu .category .pages > li span:hover {
    color: #4b93ff;
    cursor: pointer;
}

.menu .category .pages > li span:after {
    content: "";
    cursor: pointer;
    display: block;
    width: 10px;
    height: 6px;
    position: absolute;
    background: url(../images/arrow-down-sm.png) 0 0 no-repeat;
    background-size: 100% 100%;
    top: 13px;
    left: 130px;
    -webkit-transition: transform .3s;
       -moz-transition: transform .3s;
         -o-transition: transform .3s;
            transition: transform .3s;
}

.menu .category.active .pages > li.active span:after {
    transform: rotateZ(180deg);
}

.menu .file {
    height: auto;
    margin-bottom: 4px;
}

.menu .file .file-title {
    height: 40px;
    line-height: 40px;
    margin: 0;
    padding: 0 20px;
    font-size: 16px;
    color: #333;
    font-weight: 400;
    background-color: #f6f7f8;
    position: relative;
    -webkit-transition: color .3s, background-color .3s;
       -moz-transition: color .3s, background-color .3s;
         -o-transition: color .3s, background-color .3s;
            transition: color .3s, background-color .3s;
}

.menu .file a:hover {
    text-decoration: none;
}

.menu .file a:hover .file-title {
    color: #4b93ff;
    background-color: #fafafa;
}

.menu .category .pages {
    padding: 0;
    opacity: 0;
    list-style: none;
    margin: 0;
    height: 0;
    overflow: hidden;
    -webkit-transform: translateY(5px);
       -moz-transform: translateY(5px);
        -ms-transform: translateY(5px);
         -o-transform: translateY(5px);
            transform: translateY(5px);

    -webkit-transition: opacity .3s, transform .3s;
       -moz-transition: opacity .3s, transform .3s;
         -o-transition: opacity .3s, transform .3s;
            transition: opacity .3s, transform .3s;
}

.menu .category.active .pages {
    padding: 5px 0;
    height: auto;
    opacity: 1;

    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
        -ms-transform: translateY(0);
         -o-transform: translateY(0);
}

.menu .category.active .category-title:after {
    transform: rotateZ(180deg);
}

.menu .category .pages > li {
    font-size: 14px;
    color: #333;
    line-height: 30px;
    padding: 0 0 0 36px;
    position: relative;
    /* text-overflow: ellipsis; */
    white-space: normal;
    /* overflow: hidden; */
}

.menu .category .pages > li:before {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: #d8d8d8;
    position: absolute;
    left: 20px;
    top: 12px;
}

.menu .category .page > a {
    color: #333;
}

.menu .category .pages > .page > a:hover {
    color: #4b93ff;
    text-decoration: none;
}

.menu .category .page > ul,
.menu .category .page > ul > ul {
    padding: 0;
    margin: 0;
    list-style: none;
    height: 0;
    opacity: 0;
    overflow: hidden;
    -webkit-transform: translateY(5px);
       -moz-transform: translateY(5px);
        -ms-transform: translateY(5px);
         -o-transform: translateY(5px);
            transform: translateY(5px);

    -webkit-transition: opacity .3s, transform .3s;
       -moz-transition: opacity .3s, transform .3s;
         -o-transition: opacity .3s, transform .3s;
            transition: opacity .3s, transform .3s;
}

.menu .category .page ul > li {
    font-size: 12px;
    color: #999;
    line-height: 27px;
    padding-left: 16px;
    /* text-overflow: ellipsis; */
    white-space: normal;
    /* overflow: hidden; */
}

.menu .category .first-level > ul > li {
    font-size: 14px;
    position: relative;
    padding-left: 24px;
}

.menu .category .first-level > ul > li:before {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: #d8d8d8;
    position: absolute;
    left: 10px;
    top: 10px;
}

.menu .category .page ul a {
    color: #333;
}

.menu .category .page.active > a,
.menu .category .page ul a:hover {
    color: #4b93ff;
    text-decoration: none;
}

.menu .category .page.active > ul,
.menu .category .page.active > ul.active > ul  {
    opacity: 1;
    height: auto;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
        -ms-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
}


.toc-wrapper {
    min-height: 100px;
    position: absolute;
    right: 10px;
    width: 160px;
    top: 40px;
    z-index: 4;
}

.toc-wrapper .toctitle {
    display: none;
}

.toc-wrapper .toc-container {
    overflow: hidden;
    height: 100%;
}

.toc-wrapper .toc-line {
    position: absolute;
    top: 5px;
    left: 0;
    width: 20px;
    height: 100%;
    overflow: hidden;
}

.toc-wrapper .toc-line:before {
    content: "";
    display: block;
    width: 1px;
    background: rgba(77, 90, 112, .1);
    position: absolute;
    height: 100%;
    left: 10px;
}

.toc-wrapper .toc-line .toc-arrow {
    width: 2px;
    height: 20px;
    position: absolute;
    left: 10px;
    top: 0;
    background-color: #4b93ff;
    z-index: 3;
    -webkit-transition: top .3s;
       -moz-transition: top .3s;
         -o-transition: top .3s;
            transition: top .3s;
}

.toc-wrapper .toc {
    margin-left: 20px;
    padding-bottom: 10px;
}

.toc-wrapper ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.toc-wrapper ul .toclevel-1 {
    color: #999;
    font-size: 12px;
    padding-left: 20px;
    margin-left: -20px;
    margin-top: 5px;
    cursor: pointer;
    line-height: 20px;
    width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.toc-wrapper ul .toclevel-2 {
    padding-left: 20px;
    line-height: 20px;
    max-height: 30px;
    max-width: 160px;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 12px;
    color: #999;
    margin-top: 5px;
}

.toc-wrapper ul .toclevel-1 a,
.toc-wrapper ul .toclevel-1 a:visited,
.toc-wrapper ul .toclevel-1 a:focus,
.toc-wrapper ul .toclevel-1 a:active,
.toc-wrapper ul .toclevel-2 a,
.toc-wrapper ul .toclevel-2 a:visited,
.toc-wrapper ul .toclevel-2 a:focus,
.toc-wrapper ul .toclevel-2 a:active {
    color: #999;
    text-decoration: none;
}

.toc-wrapper ul .toclevel-1 a:hover,
.toc-wrapper ul .toclevel-2 a:hover {
    color: #4b93ff;
    text-decoration: none;
}

.toc-wrapper ul li.active,
.toc-wrapper ul li.active > a,
.toc-wrapper ul li.active > a:visited,
.toc-wrapper ul li.active > a:focus,
.toc-wrapper ul li.active > a:active,
.toc-wrapper ul li.active > a:hover {
    color: #666;
}

.toc-wrapper ul li .tocnumber {
    display: none;
}

.nav-placeholoder {
    width: 100%;
    height: 40px;
}

.nav-wrapper {
    height: 40px;
    width: 100%;
    top: 0;
    z-index: 4;
    list-style: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid rgba(77, 90, 112, .1);
    text-align: center;
    background: #fff;
}

.nav-wrapper li {
    display: inline-block;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    margin: 0 40px;
    min-width: 90px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 3;
}

.nav-wrapper li.active:after,
.nav-wrapper li:after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    margin: -2px auto 0;
    background-color: #4b93ff;
    -webkit-transition: width .2s linear;
       -moz-transition: width .2s linear;
         -o-transition: width .2s linear;
            transition: width .2s linear;
}

.nav-wrapper li.active:after,
.nav-wrapper li:hover:after {
    width: 100%;
}

.nav-wrapper li a {
    color: #999;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.nav-wrapper li.active a {
    color: #666;
}

.nav-wrapper li a:hover {
    color: #666;
    text-decoration: none;
}

.back-top {
    opacity: 0;
    cursor: pointer;
    position: fixed;
    z-index: 10000;
    right: 120px;
    bottom: 40px;
    width: 30px;
    height: 30px;
    background-color: #f6f7f8;
    -webkit-transition: background-color .3s, opacity .3s;
       -moz-transition: background-color .3s, opacity .3s;
         -o-transition: background-color .3s, opacity .3s;
            transition: background-color .3s, opacity .3s;
}

.back-top.visible {
    opacity: 1;
}

.back-top i {
    display: block;
    width: 10px;
    height: 10px;
    border: 2px solid #4b93ff;
    border-left: 0;
    border-bottom: 0;
    margin: 12px 0 0 10px;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);

    -webkit-transition: border-color .3s;
       -moz-transition: border-color .3s;
         -o-transition: border-color .3s;
            transition: border-color .3s;
}

.back-top:hover {
    background-color: #4b93ff;
}

.back-top:hover i {
    border-color: #fff;
}

.feedback {
    margin-bottom: 30px;
}

.feedback h2 {
    margin: 10px 0 !important;
}

.feedback .btn {
    padding: 0;
    border: 0;
    width: 200px;
    height: 40px;
    line-height: 40px;
    background: #336bbf;
    color: #fff;
    margin-left: 15px;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.10);
    border-radius: 4px;
    -webkit-transition: background-color .3s;
       -moz-transition: background-color .3s;
         -o-transition: background-color .3s;
            transition: background-color .3s;
}

.feedback .btn:hover {
    border: 0;
    background-color: #4b93ff;
}

.feedback .feedback-github {
    color: #999;
    line-height: 42px;
}

@media (min-width: 768px) {
    .page-doc .content {
        padding-right: 195px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .nav-wrapper li {
        margin: 0 10px;
    }
}

@media (max-width: 768px) {

    .page-wrapper {
        margin: 0;
        padding: 0;
    }

    .nav-placeholoder {
        overflow-y: auto;
    }
    .nav-wrapper {
        display: table-caption;
        white-space: nowrap;
        border-bottom: 1px solid rgba(77, 90, 112, .1);
    }

    .nav-wrapper li {
        margin: 0 5px;
    }

    .menu-wrapper {
        top: 0 !important;
    }
    .menu {
        background: #F6F7F8;
        margin-bottom: 0;
    }

    .menu .file {
        display: none;
    }

    .menu .category {
        margin-bottom: 0;
    }

    .menu .category .category-title {
        height: 50px;
        line-height: 50px;
        border-bottom: 1px solid rgba(77, 90, 112, .1);
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .menu .category.active .pages {
        padding: 0;
    }

    .menu .category .pages > li {
        line-height: 49px;
        padding: 0 0 0 20px;
    }
    .menu .category .pages > li:before {
        display: none;
    }

    .menu .category .pages > li.active {
        background: #e4ecf8;
    }

    .menu .category .pages > li span,
    .menu .category .page > a {
        display: inline-block;
        width: 100%;
        height: 100%;
    }

    .menu .category .first-level > ul > li {
        line-height: 49px;
    }
    .menu .category .first-level > ul > li:before {
        display: none;
    }

    .page-doc .content {
        padding: 60px 0 20px 0;
    }

    .page-doc .content .page-meta {
        visibility: hidden;
    }

    .feedback {
        margin-top: 30px;
    }

    .feedback h2 {
        font-size: 16px;
    }

    .feedback-operations {
        margin: 0;
    }

    .feedback .btn {
        width: 100%;
        height: 40px;
        margin: 0 0 10px 0;
    }

    .toc-container {
        display: none;
    }

    .back-top {
        right: 40px;
    }
}
